.savedCardDetails dt, dd{
	line-height: 20px;
}
.savedCardDetails dt{
	width:90px;
	display: inline-block;
}

.savedCardDetails dd{
	display: inline-block;
	width:170px;
}

.savedCardDetails {
	float: left;
	width: 300px;
	display: block;
}

.savedCardAction {
	float: right;
	width: 150px;
	display: block;
}