.idea/
*/platformhome.properties
*/build.xml
*/.project
*/.pmd
**.iml
**.DS_Store
**/lib/*.jar
**/resources/beans.xsd
**/resources/items.xsd
**/*testclasses.xml
**/*webtestclasses.xml
*/extensioninfo.xsd
