.idea/
*/platformhome.properties
*/build.xml
*/.project
*/.pmd
**.iml
**.DS_Store
**/lib/
**/resources/beans.xsd
**/resources/items.xsd
**/*testclasses.xml
**/*webtestclasses.xml
*/extensioninfo.xsd
**/gensrc/
**/*.class
**/.classpath
**/.settings/
**/.externalToolBuilders/
package-lock.json
yarn.lock
