/* Theme Specific Changes CSS */

/* TOP NAVIGATION BAR - START */
.top-nav-bar {
	box-shadow: 0 2px 6px rgba(0 0 0 0.2);
	-webkit-box-shadow: 0 3px 7px #000;
	-moz-box-shadow: 0 2px 6px rgba(0 0 0 0.2);
	background: #0e1722; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url('../images/top-nav-bar.svg');
	background: -moz-linear-gradient(top, #0e1722 0%, #1e252f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0e1722), color-stop(100%, #1e252f) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0e1722 0%, #1e252f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0e1722 0%, #1e252f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0e1722 0%, #1e252f 100%); /* IE10+ */
	background: linear-gradient(top, #0e1722 0%, #1e252f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#0e1722', endColorstr='#1e252f', GradientType=0 ); /* IE6-8 */
}

.top-nav-bar-layer {
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
	background: #0e1722; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url('../images/top-nav-bar-layer.svg');
	background: -moz-linear-gradient(top, #0e1722 0%, #1e252f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0e1722), color-stop(100%, #1e252f) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0e1722 0%, #1e252f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0e1722 0%, #1e252f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0e1722 0%, #1e252f 100%); /* IE10+ */
	background: linear-gradient(top, #0e1722 0%, #1e252f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#0e1722', endColorstr='#1e252f', GradientType=0 ); /* IE6-8 */
}

.ui-icon-globe {
	background-image: url("../images/app-icon-globe.png");
	background-position: 8px 8px;
}

.ui-icon-user {
	background-image: url("../images/app-icon-user.png");
	background-position: 8px 8px;
}

.ui-icon-cart {
	background-image: url("../images/app-icon-cart.png");
	background-position: 0 2px;
}

.ui-icon-custom-stores-w {
	background-image: url("../images/app-icon-stores-w.png");
	background-position: 8px 8px;
}

.ui-icon-custom-stores {
	background-position: -144px 50%;
}

.ui-icon-custom-connect {
	background-position: -177px 50%;
}

.ui-collapsible-set .ui-icon-plus {
	background-position: -0 50%;
}

.ui-collapsible-set .ui-icon-minus {
	background-position: -36px 50%;
}

/* HD/"retina" - alternative icons
-----------------------------------------------------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-globe {
		background-image: url("../images/app-icon-globe-highres.png");
		background-size: 18px 18px;
	}
	.ui-icon-user {
		background-image: url("../images/app-icon-user-highres.png");
		background-size: 18px 18px;
	}
	.ui-icon-cart {
		background-image: url("../images/app-icon-cart-highres.png");
		background-size: 18px 18px;
	}
	.ui-icon-custom-stores-w {
		background-image: url("../images/app-icon-stores-w-highres.png");
		background-size: 18px 18px;
		background-position: 8px 8px;
	}
}

/* // TOP NAVIGATION BAR - END */

/* HEADER - START */
#header {
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url('../images/header.svg');
	background: -moz-linear-gradient(top, #ffffff 0%, #e4e4e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e4e4e4) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #e4e4e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #e4e4e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #e4e4e4 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #e4e4e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#ffffff', endColorstr=  '#e4e4e4', GradientType=  0 ); /* IE6-8 */
}

.accmob-mainSearch-trigger .ui-btn-corner-all span {
	background: url('../images/accmob-searchTriggerIcon.png') no-repeat 50% 50%;
	background-size: auto 22px;
}

/* // HEADER - END */

.accmob-PDP-navigationHolder,.accmob-POP-navigationHolder {
	background: #edf3f7;
	border-bottom: 1px solid #BDCCD7;
}

#menuButton {
	text-decoration: none;
	color: #2489CE;
}

#cartTotals .ui-block-a {
	font-weight: bold;
	color: #4C566C;
}

#cartTotals .ui-block-b {
	color: #484848 !important;
}

#cartTotals {
	font-size: 0.86666666666671em;
	margin-top: 15px;
}

#cartTotals .completePrice {
	border-top: 1px solid #BFBFBF;
	font-size: 1.3em;
	font-weight: bold;
}

.itemTotalPrice {
	color: #2489CE;
	font-size: 1.06666666666672em;
}

.paymentDetails h3 {
	color: #4C566C;
}

.paymentDetails {
	font-size: 0.86666666666671em;
}

.ui-collapsible-content .navigationNodeParent.ui-btn-up-f {
	font-weight: normal;
	border-bottom: none;
}

.ui-collapsible-content .navigationNodeParent.ui-btn-up-f:last-child {
	border-bottom: 2px solid rgba(255, 255, 255, 0.3)
}

.ui-collapsible-content .navigationNodeChild.ui-btn-up-f {
	font-weight: normal;
	font-size: 13px;
	border-bottom: none;
	margin-right: -40px;
}

.ui-collapsible-content .navigationNodeChild.ui-btn-up-f a.ui-link-inherit {
	padding-left: 30px;
	opacity: 0.8;
}

.ui-collapsible-content .navigationNodeChild.ui-btn-hover-f {
	font-weight: normal;
	font-size: 13px;
	border-bottom: none;
	margin-right: -40px;
}

.ui-collapsible-content .navigationNodeChild.ui-btn-hover-f a.ui-link-inherit {
	padding-left: 30px;
	opacity: 0.8;
}

.ui-collapsible-content .navigationNodeChild.ui-btn-up-f:last-child {
	border-bottom: 2px solid rgba(255, 255, 255, 0.3)
}

.ui-collapsible-content .navigationNodeChild.ui-btn-hover-f:last-child {
	border-bottom: 2px solid rgba(255, 255, 255, 0.3)
}

.menulist.ui-listview-inset .ui-li {
    border-left-width: 0;
    border-right-width: 0;
}

#pickUpInStoreResultsList #changeLocation {
	color: #2489CE;
}

.pickup_store_results-list_stock_out {
	color: #bc0000;
}


label.skip{
	position:absolute;
	left:-9999%;	
	
}