/*
## Breadcrumb
********************************************************************/

.breadcrumb{
	background:#f6f6f6;
	margin:0 0 20px 0;
}

.breadcrumb ul{
	padding:12px;
	line-height:0.833em;
}

.breadcrumb ul li{
	float:left;
}

.breadcrumb ul li.separator{
	padding:0 6px;
	font-size: 1em;
	line-height: 0.9em;
}

.breadcrumb ul li,
.breadcrumb ul li a{
	color:#919191;
	font-size:0.9em;
	text-transform:uppercase;
}

.breadcrumb ul li a.last{
	color:#ed5f69;
}
