/* Page styling */
.content {
    float: left;
    position: relative;
    width: 100%;
}

.explanation {
    margin: 20px auto 0;
    position: relative;
    width: 60%;
}

.explanation.hidden {
    display: none;
}

.checkout-container {
    float: left;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.checkout {
    margin: 0 auto;
    position: relative;
    width: 60%;
}

@media (max-width: 520px) {
    .explanation {
        width: 100%;
    }

    .checkout {
        width: 100%;
    }
}


/* In case you only want to show the icon */
.cse-cardtype {
    height: 22px;
    width: 40px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.cse-cardtype-style-active {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

/* The icons of various card types */
.cse-cardtype-mc {
    background-image: url(https://live.adyen.com/hpp/img/pm/mc_small.png);
}

.cse-cardtype-visadankort {
    background-image: url(https://live.adyen.com/hpp/img/pm/visadankort_small.png);
}

.cse-cardtype-visa {
    background-image: url(https://live.adyen.com/hpp/img/pm/visa_small.png);
}

.cse-cardtype-amex {
    background-image: url(https://live.adyen.com/hpp/img/pm/amex_small.png);
}

.cse-cardtype-vias {
    background-image: url(https://live.adyen.com/hpp/img/pm/vias_small.png);
}

.cse-cardtype-diners {
    background-image: url(https://live.adyen.com/hpp/img/pm/diners_small.png);
}

.cse-cardtype-maestrouk {
    background-image: url(https://live.adyen.com/hpp/img/pm/maestrouk_small.png);
}

.cse-cardtype-solo {
    background-image: url(https://live.adyen.com/hpp/img/pm/solo_small.png);
}

.cse-cardtype-laser {
    background-image: url(https://live.adyen.com/hpp/img/pm/laser_small.png);
}

.cse-cardtype-discover {
    background-image: url(https://live.adyen.com/hpp/img/pm/discover_small.png);
}

.cse-cardtype-jcb {
    background-image: url(https://live.adyen.com/hpp/img/pm/jcb_small.png);
}

.cse-cardtype-bcmc {
    background-image: url(https://live.adyen.com/hpp/img/pm/bcmc_small.png);
}

.cse-cardtype-bijcard {
    background-image: url(https://live.adyen.com/hpp/img/pm/bijcard_small.png);
}

.cse-cardtype-dankort {
    background-image: url(https://live.adyen.com/hpp/img/pm/dankort_small.png);
}

.cse-cardtype-hipercard {
    background-image: url(https://live.adyen.com/hpp/img/pm/hipercard_small.png);
}

.cse-cardtype-maestro {
    background-image: url(https://live.adyen.com/hpp/img/pm/maestro_small.png);
}

.cse-cardtype-elo {
    background-image: url(https://live.adyen.com/hpp/img/pm/elo_small.png);
}

.cse-cardtype-uatp {
    background-image: url(https://live.adyen.com/hpp/img/pm/uatp_small.png);
}

.cse-cardtype-cup {
    background-image: url(https://live.adyen.com/hpp/img/pm/cup_small.png);
}

.cse-cardtype-cartebancaire {
    background-image: url(https://live.adyen.com/hpp/img/pm/cartebancaire_small.png);
}

.cse-cardtype-visaalphabankbonus {
    background-image: url(https://live.adyen.com/hpp/img/pm/visaalphabankbonus_small.png);
}

.cse-cardtype-mcalphabankbonus {
    background-image: url(https://live.adyen.com/hpp/img/pm/mcalphabankbonus_small.png);
}
.cse-cardtype-karenmillen {
    background-image: url(https://live.adyen.com/hpp/img/pm/karenmillen_small.png);
}
.cse-cardtype-oasis {
    background-image: url(https://live.adyen.com/hpp/img/pm/oasis_small.png);
}
.cse-cardtype-warehouse {
    background-image: url(https://live.adyen.com/hpp/img/pm/warehouse_small.png);
}
