/*Hide payment method specific selectors*/
.payment_method_details, .extra-fields-container
{
    display: none;
}

.checkout-paymentmethod li {
    list-style: none;
}

/* Spinner for "place order" */
div#spinner {
    position: absolute;
    z-index: 1;
    width: 75px;
    height: 75px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #0f7384;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

div#spinner_wrapper {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.65);
    z-index: 999999;
    justify-content: center;
    align-items: center;
}

div#spinner_text {
    position: absolute;
    bottom: 25%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#spinner_text p {
    margin: 25px 0 25px;
    color: white;
    width: 50%;
    padding: 20px;
}
.grid_block_a {
    margin-right: 0;
}

div#section_break {
    border-top: 1px solid #3276c7;
    background: none repeat scroll 0 0 #0958bd;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin: 10px 0 5px;
    clear: both;
}

@supports not (-webkit-appearance: -apple-pay-button) {
    .chckt-pm-applepay {
        display: none;
    }
}

.visible-xs.side-margins {
    margin-left: 20px;
    margin-right: 20px;
}

.adyen-checkout__dropdown__list {
    position:relative !important;
    max-height: 280px;
}
