/*Hide payment method specific selectors*/
.payment_method_details, .extra-fields-container
{
    display: none;
}

.checkout-paymentmethod li {
    list-style: none;
}

/* Spinner for "place order" */
div#spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0f7384;
    background: rgba(0,0,0,0);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

div#spinner_wrapper {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
}