.checkout-paymentmethod .checkout-shipping-items-header {
    text-transform: uppercase;
    padding: 25px 0 10px 0;
    font-size: 16px;
    font-weight: 700;
}

.adyen-checkout__card-input img {
    vertical-align: unset;
}