@import "customersupportbackoffice_common.scss";

.y-toolbar-leftslot .cng-action-group{
    .ya-com_adyen_v6_backoffice_widgets_actions_adyencancelorderaction{
        padding: 2px 10px;
        tr {
            vertical-align: middle;
        }
    }
}

.y-toolbar-leftslot .cng-action-group {
    .ya-com_adyen_v6_backoffice_widgets_actions_adyencancelorderaction{
        &:hover {
            background: $white;
            color: $warehousing-action-buttons--color;
            transition: background-color 0.3s ease 0s;
        }
        &.cng-action-disabled:hover {
            color: inherit;
            background: none;
        }
    }
}
